<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}} David Holmlund - Alla rättigheter reserverade.</small></p>
  <p><small>Kompilerad med <small><a href="https://github.com/tryghost/Ghost" target="_blank">Ghost</a> och massvis med kaffe • </small>Temat är en fork av <a href="https://github.com/oswaldoacauan/ghostium" target="_blank">Ghostium Theme.</a></p>
</footer>
