.photocontainer {
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;
  -webkit-column-gap: 1px;
  -moz-column-gap: 1px;
  column-gap: 1px;
  line-height: 0.8;
}

.photoitem {
  display: inline-block;
  color: white;
}